# @changed 2025.04.26, 22:58

Options -Indexes

RewriteEngine on

php_value log_errors 1
php_value error_log php_errors.log
php_flag register_globals on

# Create/update an `.htpasswd` file using a command:
# htpasswd -cb .htpasswd {user} {pass}
# htpasswd -b .htpasswd {user} {pass}
AuthUserFile /home/g/goldenjeru/.security/.htpasswd

# Fake manage page (uses the same code as root one) -- should require authorization
RewriteBase "/"
RewriteRule "manage" "" [PT]

AuthType Basic
AuthName "Site Access"

# first, allow everybody
Order Allow,Deny
Satisfy any
Allow from all
Require valid-user

# TODO?
# RewriteCond %{QUERY_STRING} mode=full
# RewriteRule ^ - [E=auth:1]

SetEnvIf Request_URI ^/(manage|.*\.(log|php))$ auth=true

# Deny auth'ed files
Deny from env=auth

# <Files ~ "\.(php|log)$">
# Require valid-user
# #Require Group admin
# </Files>
