# @changed 2025.04.28, 00:01

Options -Indexes

RewriteEngine on

php_value log_errors 1
php_value error_log php_errors.log
php_flag register_globals on

# Create/update an `.htpasswd` file using a command:
# htpasswd -cb .htpasswd {user} {pass}
# htpasswd -b .htpasswd {user} {pass}
AuthUserFile /home/g/goldenjeru/.security/.htpasswd

# # Fake manage page (uses the same code as root one) -- should require authorization
# RewriteBase "/"
# RewriteRule "^(manage)$" "" [PT]
#
# # Remove html extensions
# RewriteCond %{REQUEST_FILENAME}.html -f
# RewriteRule !.*\.html$ %{REQUEST_FILENAME}.html [L]
#
# AuthType Basic
# AuthName "Site Access"
#
# # Allow everybody
# Order Allow,Deny
# Satisfy any
# Allow from all
# Require valid-user
#
# SetEnvIf Request_URI ^/(editor|manage|.*\.(log|php))$ auth=true
#
# # Deny authorized files
# Deny from env=auth
#
# <FilesMatch "^\.">
# Order allow,deny
# Deny from all
# </FilesMatch>

<FilesMatch "\.(json)$">
    <IfModule mod_expires.c>
        ExpiresActive Off
    </IfModule>
    <IfModule mod_headers.c>
        FileETag None
        Header unset ETag
        Header unset Pragma
        Header unset Cache-Control
        Header unset Last-Modified
        Header set Pragma "no-cache"
        Header set Cache-Control "max-age=0, no-cache, no-store, must-revalidate"
        Header set Expires "Thu, 1 Jan 1970 00:00:00 GMT"
    </IfModule>
</FilesMatch>
