$black: #433e36;
$blue: #0d6efd;
$deepBlue: #003085;
$lightBlue: #85a4de;
$secondary: #5793b5;
$gray: #ebeff2;
$grayText: #686868;

$fz14: 0.875rem;
$fz16: 1rem;
$fz20: 1.25rem;
$fz22: 1.375rem;
$fz24: 1.5rem;
$fz32: 2rem;
$fz48: 3rem;

$grid-gutter-width: 30px;
