<!doctype html>
<html lang="ru">
  <head>
    <%- include partials/header-content.ejs %>
    <title>Редактор</title>
  </head>
  <body id="app">
    <!-- Body begin -->

    <div class="container pb-5" v-if="data">
      <h1 class="pt-3 mt-3">Редактор</h1>

      <div class="actions d-flex gap-2 my-5 py-3">
        <button
          class="btn btn-success"
          v-bind:disabled="pricesHasChanged ? null : 'disabled'"
          @click="saveCostChanges"
        >
          Сохранить изменения
        </button>
      </div>

      <!-- Title -->
      <div class="d-flex align-items-center justify-content-between">
        <h1 class="result-title main-title pb-3 m-0">РПК «Пи-Ай-Ви»</h1>
        <span class="d-flex aling-items-center fw-bold">
          {{ date.getDate() + '.' + String(date.getMonth() + 1).padStart(2, '0') + '.' + date.getFullYear() }}
        </span>
      </div>

      <!-- price-table -->
      <table class="table price-table">
        <thead>
          <tr>
            <th class="material">Материал</th>
            <th class="units">Ед. измерения</th>
            <th class="unitMaterial">Расход материала за ед</th>
            <th class="basicCost">Стоимость за м, кг, шт, усл</th>
            <th class="unitCost">Стоимость за ед.</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="price in filteredPrices" :data-idx="price._idx">
            <td class="material">{{ price.material }}</td>
            <td class="units">{{ price.units }}</td>
            <td class="unitMaterial">{{ price.unitMaterial }}</td>
            <td class="basicCost" :data-value="price.basicCost">
              <input
                :data-idx="price._idx"
                class="form-control basicCostValue"
                _type="number"
                _v-model="price.basicCost"
                :value="formatPrice(price.basicCost)"
                v-on:change="onBasicCostChange"
              />
            </td>
            <td class="unitCost">{{ formatPrice(price.unitCost) }}</td>
          </tr>
        </tbody>
        <tfoot>
          <tr class="priceUnit">
            <td class="material" colspan="4">
              Стоимость за ед. для клиента с НДС
            </td>
            <td class="unitCost">{{ formatPrice(priceUnit) }}</td>
          </tr>
          <tr class="priceTotal">
            <td class="material" colspan="4">
              Стоимость для клиента за тираж с НДС
            </td>
            <td class="unitCost">{{ formatPrice(priceTotal) }}</td>
          </tr>
        </tfoot>
      </table>

    </div>

    <%- include partials/preloader.ejs %>
    <%- include partials/global-error.ejs %>
    <%- include partials/toast-container.ejs %>

    <!-- Body end -->
  </body>
</html>
