<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title></title>
  </head>
  <body id="app">
    <div class="preloader" :class="{ hide: preloaded }">
      <img src="images/content/preloader.svg" alt="" />
    </div>
    <div class="container pb-5" v-if="data">
      <h1 class="pt-3 mt-3">Конструктор</h1>
      <section id="main">
        <div class="row">
          <div class="col-lg-6 img-holder">
            <div class="svg-holder">
              <div v-bind:class="(!logo)?'hidden':''" class="logoHolder" ref="logoElement">
                <img class="element" :src="logo" alt="" />
              </div>
              <template v-for="(type, index) in data.types">
                <template v-if="type?.selected && type?.svgNew">
                  <template v-for="(el, index) in type.types">
                    <template v-if="getSelected(el.options)?.svgNew">
                      <div class="inner" v-html="getSelected(el.options).svgNew"></div>
                    </template>
                  </template>
                </template>
              </template>
            </div>
          </div>
          <div class="col-lg-6">
            <div id="grayBlock">
              <div class="row">
                <div class="col-4">
                  <h3>Клиент:</h3>
                  <input class="form-control mb-5" type="text" v-model="title" />
                </div>
                <div class="col-4">
                  <h3>Тираж:</h3>
                  <input class="form-control mb-5" type="text" v-model="edition" />
                </div>
                <div class="col-4">
                  <h3>
                    Логотип:
                    <span @click="removeImage()" v-if="logo" class="ml-3 crossDel">✖</span>
                  </h3>
                  <input
                    ref="logoUpload"
                    class="form-control mb-5"
                    type="file"
                    v-on:change="onFileChange"
                  />
                </div>
              </div>
              <h3>{{data.title}}:</h3>
              <swiper
                :slides-per-view="1.5"
                :breakpoints="{ 600:{ slidesPerView:2.5 }, 900:{ slidesPerView:3.5, } }"
                :space-between="15"
                @swiper="onSwiper"
              >
                <swiper-slide v-for="(type, index) in data.types">
                  <div class="selected" :class="{ active: type.selected }" @click="setList(index)">
                    <img v-if="type.svg" :src="type.svg" :alt="type.name" />
                    <div>{{type.name}}</div>
                  </div>
                </swiper-slide>
              </swiper>
              <swiper
                v-if="getSelected(data.types)?.colors"
                :slides-per-view="2.5"
                :breakpoints="{ 600:{ slidesPerView:4.5 }, 900:{ slidesPerView:8.5, } }"
                :space-between="15"
                @swiper="onSwiper"
              >
                <swiper-slide v-for="(el, index) in getSelected(data.types).colors">
                  <div
                    class="colors selected"
                    :class="{ active: el.selected }"
                    @click="setProp(getSelected(data.types).colors, index, getSelected(data.types))"
                  >
                    <div :style="{ backgroundColor: el.code }"></div>
                  </div>
                </swiper-slide>
              </swiper>
              <div v-for="(type, index) in getSelected(data.types).types">
                <h3 class="mt-4 mb-2">{{type.title}}:</h3>
                <swiper :slides-per-view="2.8" :space-between="15" @swiper="onSwiper">
                  <swiper-slide v-for="(el, index) in type.options">
                    <div
                      class="selected"
                      :class="{ active: el.selected }"
                      :style="{ backgroundColor: el.code }"
                      @click="setProp(type.options, index, type)"
                    >
                      <img v-if="el.svg" :src="el.svg" :alt="el.name" />
                      <div>{{el.name}}</div>
                    </div>
                    <div v-if="el.selections && el.selected">
                      <select class="form-select" v-model="el.selectionsChoose">
                        <option v-for="(sel, selindex) in el.selections" :value="sel.name">
                          {{sel.name}}
                        </option>
                      </select>
                    </div>
                    <div v-if="type.size && el.selected">
                      <p class="count">Кол-во штук:</p>
                      <input class="form-control" type="number" v-model="el.count" />
                    </div>
                  </swiper-slide>
                </swiper>
                <swiper
                  v-if="type?.colors"
                  :slides-per-view="2.5"
                  :breakpoints="{ 600:{ slidesPerView:4.5 }, 900:{ slidesPerView:8.5, } }"
                  :space-between="15"
                  @swiper="onSwiper"
                >
                  <swiper-slide v-for="(el, index) in type.colors">
                    <div
                      class="colors selected"
                      :class="{ active: el.selected }"
                      @click="setProp(type.colors, index, type)"
                    >
                      <div :style="{ backgroundColor: el.code }"></div>
                    </div>
                  </swiper-slide>
                </swiper>
              </div>
              <div class="row mt-5">
                <div class="col-12">
                  <h3>Комментарий:</h3>
                  <textarea class="form-control mb-2" type="text" v-model="comment"></textarea>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <button class="btn btn-primary my-5 py-3 w-100" @click="printHtml">Печать документа</button>

      <section id="capture">
        <table class="table">
          <tr>
            <td colspan="2">
              <div class="d-flex align-items-center justify-content-between">
                <h1 class="pb-3 m-0">РПК «Пи-Ай-Ви»</h1>
                <span class="d-flex aling-items-center fw-bold">
                  {{date.getDate()+'.'+String(date.getMonth()+1).padStart(2,
                  '0')+'.'+date.getFullYear()}}
                </span>
              </div>
            </td>
          </tr>
          <tr>
            <td>
              <p class="mb-2"><span class="fw-bold">Клиент:</span> {{title}}</p>
            </td>
            <td>
              <p class="mb-2"><span class="fw-bold">Тираж:</span> {{edition}}</p>
            </td>
          </tr>
          <tr>
            <td colspan="2">
              <p class="mb-2"><span class="fw-bold">Комментарий:</span> {{comment}}</p>
            </td>
          </tr>
          <tr v-for="index in Math.ceil((getSelected(data.types)?.types.length+1)/2)">
            <td>
              <p class="mb-2" v-if="index===1">
                <span class="fw-bold">{{data.title}}:</span>
                {{getSelected(data.types)?.name}}
                <span v-if="getSelected(data.types)?.colors">
                  - {{getSelected(data.types)?.colors.find(color=>color.selected).name}}
                </span>
              </p>
              <p class="mb-2" v-if="index>1">
                <span class="fw-bold">{{getSelected(data.types).types[index*2-3].title}}:</span>
                <span
                  v-for="(opt,ind) in getSelected(data.types).types[index*2-3].options.filter(option=>option.selected)"
                  >&nbsp;{{opt.name}}
                  <span v-if="opt.selectionsChoose">({{opt.selectionsChoose}})</span
                  ><span v-if="opt.count" class="fw-bold">кол-во - {{opt.count}}</span>
                  <span
                    v-if="getSelected(data.types).types[index*2-3].options.filter(option=>option.selected).length != ind+1"
                    >,&nbsp;&nbsp;</span
                  >
                </span>

                <span v-if="getSelected(data.types).types[index*2-3].colors"
                  >-{{getSelected(data.types).types[index*2-3].colors.find(color=>color.selected).name}}</span
                >
              </p>
            </td>
            <td>
              <p class="mb-2" v-if="getSelected(data.types).types[index*2-2]">
                <span class="fw-bold">{{getSelected(data.types).types[index*2-2].title}}:</span>
                <span
                  v-for="(opt,ind) in getSelected(data.types).types[index*2-2].options.filter(option=>option.selected)"
                  >&nbsp;{{opt.name}}
                  <span v-if="opt.selectionsChoose">({{opt.selectionsChoose}})</span
                  ><span v-if="opt.count" class="fw-bold">кол-во - {{opt.count}}</span
                  ><span
                    v-if="getSelected(data.types).types[index*2-2].options.filter(option=>option.selected).length != ind+1"
                    >,&nbsp;&nbsp;</span
                  ></span
                >
                <span v-if="getSelected(data.types).types[index*2-2].colors"
                  >-{{getSelected(data.types).types[index*2-2].colors.find(color=>color.selected).name}}</span
                >
              </p>
            </td>
          </tr>
          <tr>
            <td colspan="2" class="nobord">
              <div class="svg-holder">
                <div
                  v-bind:class="(!logo)?'hidden':''"
                  class="logoHolder bottom"
                  ref="logoElementBottom"
                >
                  <img class="element" :src="logo" alt="" />
                </div>
                <template v-for="(type, index) in data.types">
                  <template v-if="type?.selected && type?.svgNew">
                    <template v-for="(el, index) in type.types">
                      <template v-if="getSelected(el.options)?.svgNew">
                        <div class="inner" v-html="getSelected(el.options).svgNew"></div>
                      </template>
                    </template>
                  </template>
                </template>
              </div>
            </td>
          </tr>
        </table>
        <div class="bottom">
          <p>Утвержденный макет является основание для изготовления тиража</p>
          <p>
            Дата «____» ____________ {{date.getFullYear()}}г.
            ________________________/________________________
          </p>
          <p>
            Изменения, внесенные после согласования макета<br />могут являться основанием для
            изменения стоимости производства тиража!
          </p>
        </div>
      </section>
    </div>
  </body>
</html>
