.price-table {
  th {
    border: 1px solid #444;
    font-weight: bold;
  }
  .priceUnit,
  .priceTotal {
    font-weight: bold;
  }
  .basicCost,
  .unitCost {
    text-align: right;
  }
  .basicCost {
    background-color: #eee;
  }
  .unitMaterial,
  .basicCost,
  .unitCost {
    width: 15%;
    min-width: 10em;
  }
  .basicCost {
    width: 100%;
    input {
      text-align: right;
    }
  }
}
