.price-table {
  td,
  th {
    border: 1px solid #444;
    vertical-align: middle;
  }
  th {
    font-weight: bold;
  }
  .priceUnit,
  .priceTotal {
    font-weight: bold;
  }
  .basicCost,
  .unitCost {
    text-align: right;
  }
  .basicCost {
    background-color: #eee;
  }
  .units {
    width: 10%;
  }
  .unitMaterial,
  .basicCost,
  .unitCost {
    width: 15%;
    min-width: 10em;
  }
  .basicCost {
    width: 100%;
    input {
      text-align: right;
    }
  }
  .check {
    text-align: center;
    width: 60px;
    padding: 20px;
    white-space: nowrap;
  }
  .conditions {
    .conditions-item {
      display: inline-block;
      // margin: 2px;
    }
  }
}
